.legend{
    color: blue;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    margin : 10px 20px;
    padding: auto;
    background-color: lightgrey;
    font-size: 20px;
    font-weight: bold;
    width: 350px;
    text-align: center;

}
